@import "common/variables.scss";

.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;
  }
}

.advantages__item {
  background-color: #f2f2f2;
  padding: 20px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 75px 52px 60px 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding: 41px 61px 55px 52px;
  }

  &--weight-loss {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 20px;
      width: 50px;
      height: 53px;
      background-image: url("../img/sprite.svg#icon-cat-slim");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $tablet-width) {
        width: 200px;
        height: 200px;
        top: 81px;
        right: 63px;
        left: auto;
      }

      @media (min-width: $desktop-width) {
        width: 100px;
        height: 106px;
        top: 41px;
        left: 52px;
      }
    }
  }

  &--mass-gain {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 13px;
      width: 67px;
      height: 50px;
      background-image: url("../img/sprite.svg#icon-cat-pro");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $tablet-width) {
        top: 91px;
        right: 29px;
        left: auto;
        width: 268px;
        height: 200px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 100px;
        top: 47px;
        left: 33px;
      }
    }
  }
}

.advantages__title {
  margin: 6px 0 30px 70px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 0 73px 162px;
    font-size: 36px;
    line-height: 36px;
  }
}

.advantages__description {
  color: #444444;
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 15px 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9d9;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
    padding-bottom: 0;
    margin: 0 0 42px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}

.advantages__link {
  position: relative;
  display: inline-block;
  min-width: 134px;
  max-width: 220px;
  padding: 4px 10px 4px 0;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-width: 165px;
    font-size: 20px;
    line-height: normal;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 10px;
    top: 6px;
    right: 8px;
    background-image: url("../img/sprite.svg#icon-arrow");
    background-repeat: no-repeat;
    background-position: right;

    @media (min-width: $tablet-width) {
      top: 14px;
      right: 6px;
    }
  }

  &:hover::after {
    transform: scaleX(1.3);
    transform-origin: left;
  }

  &:active {
    opacity: 0.3;
  }
}
