@import "common/variables.scss";

.checkbox-list {
  border: none;
  padding: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    gap: 32px 114px;
    padding: 0 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 60px 0;
  }
}

.checkbox-list__control {
  position: relative;
  display: flex;
  cursor: pointer;
  color: 444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  &:active {
    opacity: 0.6;
  }
}

.checkbox-list__field + .checkbox-list__control-outline::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox-list__field:checked + .checkbox-list__control-outline::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  top: 8px;
  left: 6px;
  background-image: url("../img/sprite.svg#icon-checkbox-checked");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 14px;
    left: 12px;
  }
}

.checkbox-list__field:hover + .checkbox-list__control-outline::before {
  border-color: #bababa;
}

.checkbox-list__field:disabled ~ .checkbox-list__text,
.checkbox-list__field:disabled ~ .checkbox-list__control-outline {
  opacity: 0.3;
}

.checkbox-list__field:focus-visible + .checkbox-list__control-outline {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
