@import "common/variables.scss";

.field {
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-within {
    outline: 1px solid #444444;
    border-color: #444444;
  }

  &:disabled {
    outline: 1px solid #ff8282;
    border-color: #ff8282;
  }
}
