@import "common/variables.scss";

.gift {
  position: relative;
  width: 280px;
  min-height: 290px;
  background-image: url("../img/cover-for-cat.jpg");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 200px;
    background-image: url("../img/cover-for-cat-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/cover-for-cat.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 290px;
    }
  }
}

.gift__description {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
