@import "common/variables.scss";

.main-footer {
  padding: 40px 20px;
  margin-top: auto;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-footer__logo {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-footer__social {
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}
