@import "common/variables.scss";

.main-nav__toggle {
  cursor: pointer;
  border: none;
}

.main-nav__toggle--no-js.main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  width: 18px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/sprite.svg#icon-burger-button-opened");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/sprite.svg#icon-burger-button");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  background-color: #ffffff;
  z-index: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: initial;
    background-color: initial;
    text-align: initial;
  }
}

.main-nav--opened .main-nav__wrapper {
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    text-align: center;
  }
}

.main-nav--closed .main-nav__wrapper {
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    text-align: center;
  }
}

.main-nav--no-js.main-nav {
  width: 100%;
  margin: 15px 0 -10px 0;

  @media (min-width: $tablet-width) {
    width: initial;
    margin: initial;
  }
}

.main-nav--no-js .main-nav__wrapper {
  position: static;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 33px;
    border: none;
    max-width: 437px;
  }

  @media (min-width: $desktop-width) {
    max-width: 478px;
  }
}

.main-nav--no-js .main-nav__list {
  border-left: none;
}

.main-nav__item-current-extended {
  text-decoration: underline;
  text-decoration-color: #68b738;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;

  @media (min-width: $desktop-width) {
    text-decoration-color: #ffffff;
  }
}
