@import "common/variables.scss";

.map__wrapper {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  &--no-js {
    display: none;
  }
}

.map__image {
  display: none;
  width: 100%;
  margin-bottom: -4px;

  &--no-js {
    display: block;
  }
}
