.nutrition-program__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.nutrition-program__text {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}
