@import "common/variables.scss";

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #ffffff;
  margin: 0;
}

.page__hero {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.page__advantages {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.page__about {
  margin-bottom: 50px;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page__slider {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;

  @media (min-width: $desktop-width) {
    padding: 25px 110px 40px 110px;
  }
}

.page__nutrition-program {
  border-top: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    padding: 0;
  }
}
