.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #ffffff;
}

.page__hero {
  margin-bottom: 20px;
}

.page__advantages {
  margin-bottom: 20px;
}
