@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

/* Временный комментарий */
.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #ffffff;
}

/* Временный комментарий */
.main-header {
  padding: 13px 20px;
}

.button {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
.button--primary {
  background-color: #68b738;
}
.button--additional {
  background-color: #f2f2f2;
}

/* Временный комментарий */
/* Временный комментарий */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-list__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

/* Временный комментарий */
.hero {
  position: relative;
  background-image: url("/img/cat-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}

.hero__wrapper {
  padding: 27px 35px 0 35px;
}

.hero__title {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.hero__description {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__link {
  color: #ffffff;
  text-align: center;
}

.title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.advantages__item {
  background-color: #f2f2f2;
}

.advantages__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.advantages__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.advantages__link {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.page__about {
  margin-bottom: 50px;
}

.about__title {
  margin: 0 0 42px 0;
}

.about__item {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.page__slider {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;
}

.slider__title {
  margin: 0 0 40px 0;
}

.slider__text {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.slider__value {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.slider__description {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.slider__expenses {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.event-invitation {
  padding: 26px 20px;
}

.event-invitation__description {
  margin: 0;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.event-invitation__address {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Временный комментарий */
.main-footer {
  padding: 40px 20px;
  margin-top: auto;
  background-color: #f2f2f2;
}

/* Временный комментарий */
/* Временный комментарий */
.copyright__text {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.nutrition-program__title {
  margin: 27px 0 37px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.nutrition-program__text {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  text-transform: uppercase;
}

.nutrition-program-form__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.nutrition-program-form__group-title {
  padding: 24px 0 38px 0;
  margin: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.nutrition-program-form__text-required-fields {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.field {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.radio-list__control {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

/* Временный комментарий */
/* Временный комментарий */
.checkbox-list__control {
  color: 444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog__title {
  margin: 27px 20px 41px 20px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.catalog__title--additional {
  padding: 25px 0 36px 0;
  margin: 0;
}

.catalog__item:not(:last-child) {
  padding: 11px 20px 14px 20px;
}

.catalog__additional-goods-list {
  margin-bottom: 19px;
}

.catalog__additional-goods-link {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.catalog__additional-goods-quantity,
.catalog__additional-goods-price {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.card__link {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card__feature-wrapper {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.card-show-all__text {
  color: #111111;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card-show-all__additional-text {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.card-show-all__button {
  background-color: #f2f2f2;
  color: #444444;
}

.gift {
  position: relative;
  width: 280px;
  min-height: 290px;
  background-image: url("../../img/cover-for-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.gift::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}

.gift__description {
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */