@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

/* Viewports */
.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1220px;
  }
}

/* Viewports */
.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Viewports */
.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #ffffff;
  margin: 0;
}

.page__main-container {
  border-top: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .page__main-container {
    border-top: none;
  }
}

.page__hero {
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .page__hero {
    margin-bottom: 0;
  }
}

.page__advantages {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .page__advantages {
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .page__advantages {
    margin-bottom: 70px;
  }
}

.page__about {
  margin-bottom: 50px;
  padding: 0 20px;
}
@media (min-width: 1440px) {
  .page__about {
    padding: 0 110px;
  }
}

.page__slider {
  padding: 25px 0 40px 0;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .page__slider {
    padding: 43px 0 100px 0;
    background: linear-gradient(to top, #eaeaea, #eaeaea 462px, transparent 462px, transparent 100%);
  }
}
@media (min-width: 1440px) {
  .page__slider {
    padding: 25px 0 75px 0;
    background: linear-gradient(to bottom, transparent, transparent 160px, #eaeaea 160px, #eaeaea 100%);
  }
}

/* Viewports */
.main-header {
  padding: 13px 0;
}
@media (min-width: 768px) {
  .main-header {
    padding: 25px 0 0 0;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 55px 0 0 0;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    align-items: center;
  }
}

/* Viewports */
.button {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
.button--primary {
  display: block;
  background-color: #68b738;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.button--primary:hover {
  background-color: #5eaa2f;
}
.button--primary:active {
  background-color: #5eaa2f;
  color: #8dc36d;
}
@media (min-width: 768px) {
  .button--primary {
    font-size: 20px;
    line-height: 26px;
  }
}
.button--additional {
  background-color: #f2f2f2;
  padding: 10px 0;
  min-width: 280px;
  width: 100%;
  text-align: center;
}

/* Временный комментарий */
/* Временный комментарий */
/* Viewports */
.main-nav__toggle {
  cursor: pointer;
  border: none;
}

.main-nav--opened .main-nav__toggle {
  width: 18px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/icon-burger-button-opened.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icon-burger-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {
  display: none;
  background-color: #ffffff;
  z-index: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: initial;
    background-color: initial;
    text-align: initial;
  }
}

@media (max-width: 767px) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    text-align: center;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 33px;
    border: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Viewports */
.site-list__link {
  display: block;
  padding: 22px 0 24px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font-size: 20px;
    line-height: normal;
    color: #ffffff;
  }
}
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}

@media (min-width: 1440px) {
  .site-list__link--extended {
    color: #111111;
  }
}

.main-nav--nojs .site-list__link {
  border: none;
  padding: 5px 0;
  font-size: 11px;
}
@media (min-width: 768px) {
  .main-nav--nojs .site-list__link {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .main-nav--nojs .site-list__link {
    font-size: 20px;
  }
}

.site-list__item--current {
  text-decoration: underline;
  -webkit-text-decoration-color: #68b738;
          text-decoration-color: #68b738;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.site-list__item--current-extended {
  text-decoration: underline;
  -webkit-text-decoration-color: #68b738;
          text-decoration-color: #68b738;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;
}
@media (min-width: 1440px) {
  .site-list__item--current-extended {
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: #ffffff;
  }
}

.main-nav--nojs .site-list__item--current-extended {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
@media (min-width: 768px) {
  .main-nav--nojs .site-list__item--current-extended {
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
  }
}

/* Временный комментарий */
/* Viewports */
.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 302px;
  background-image: url("../img/cat-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #63a73a;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero::before {
    content: none;
  }
}
@media (min-width: 1440px) {
  .hero::before {
    content: "";
    position: absolute;
    top: -98px;
    width: 50%;
    height: 100%;
    background-image: url("../img/cat-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
  }
}

.hero__wrapper {
  padding: 28px 0 0 0;
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding: 65px 0 0 90px;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    min-height: 694px;
    padding: 110px 0 20px 80px;
  }
}

.hero__title {
  margin: 0 0 25px 0;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 768px) {
  .hero__title {
    margin: 0 0 40px 0;
    max-width: 425px;
    text-align: initial;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__description {
  margin: 0 0 29px 0;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__description {
    max-width: 425px;
    text-align: initial;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__link {
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__link {
    max-width: 244px;
  }
}

.title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

/* Viewports */
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;
  }
}

.advantages__item {
  background-color: #f2f2f2;
  padding: 20px 33px 18px 20px;
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 80px 52px 52px 52px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    min-width: 570px;
    padding: 41px 61px 55px 52px;
  }
}
.advantages__item--weight-loss {
  position: relative;
}
.advantages__item--weight-loss::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .advantages__item--weight-loss::before {
    top: 81px;
    right: 63px;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .advantages__item--weight-loss::before {
    top: 41px;
    left: 52px;
  }
}
.advantages__item--mass-gain {
  position: relative;
}
.advantages__item--mass-gain::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .advantages__item--mass-gain::before {
    top: 91px;
    right: 29px;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .advantages__item--mass-gain::before {
    top: 47px;
    left: 33px;
  }
}

.advantages__title {
  margin: 0 0 30px 90px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__title {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    margin: 0 0 73px 94px;
    font-size: 36px;
    line-height: 36px;
  }
}

.advantages__description {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 15px 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9d9;
}
@media (min-width: 768px) {
  .advantages__description {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border-bottom: none;
  }
}

.advantages__link {
  display: inline-block;
  min-width: 134px;
  padding: 4px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 95px 2px;
}

/* Viewports */
.about__title {
  margin: 0 0 42px 0;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  display: grid;
  gap: 20px;
  counter-reset: counter;
}
@media (min-width: 768px) {
  .about__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 57px;
  }
}
@media (min-width: 1440px) {
  .about__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.about__item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .about__item::after {
    counter-increment: counter;
    content: counter(counter);
    position: absolute;
    top: 0;
    left: 114px;
    z-index: -1;
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
  }
}
.about__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .about__item::before {
    width: 80px;
    height: 80px;
  }
}
.about__item--leaf::before {
  background-image: url("../img/icon-leaf.svg");
}
.about__item--liquid::before {
  background-image: url("../img/icon-liquid.svg");
}
.about__item--eat::before {
  background-image: url("../img/icon-eat.svg");
}
.about__item--time::before {
  background-image: url("../img/icon-clock.svg");
}
@media (min-width: 768px) {
  .about__item {
    max-width: 250px;
    gap: 31px;
    grid-template-columns: auto;
    padding: 40px 0 57px 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.about__item-description {
  margin: 0;
}

/* Viewports */
.slider__title {
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .slider__title {
    margin: 0 0 60px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .slider__title {
    margin: 0 0 146px 0;
  }
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
}

.slider__text {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 55px 0;
}
@media (min-width: 768px) {
  .slider__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .slider__text {
    max-width: 436px;
  }
}

.slider__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 32px;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .slider__list {
    grid-template-columns: 162px 162px 1fr;
    gap: 42px;
  }
}
@media (min-width: 1440px) {
  .slider__list {
    grid-column: 1/2;
    gap: 60px 42px;
    max-width: 366px;
    margin-bottom: 0;
  }
}

.slider__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px #cdcdcd;
  border-radius: 3px;
  padding-top: 15px;
}

.slider__item--price {
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  grid-column: 1/-1;
  color: #000000;
  box-shadow: none;
  padding-top: 0;
}
@media (min-width: 768px) {
  .slider__item--price {
    grid-column: 3/-1;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .slider__item--price {
    grid-column: 1/2;
    gap: 63px;
  }
}

.slider__value {
  margin: 0;
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .slider__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.slider__value--price {
  line-height: 20px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .slider__value--price {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .slider__value--price {
    min-width: 100px;
  }
}

.slider__description {
  margin: 7px 0 -17px 0;
  background-color: #eaeaea;
  z-index: 2;
  max-width: 77px;
  padding: 0 5px;
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
@media (min-width: 768px) {
  .slider__description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .slider__description {
    background-color: #eaeaea;
  }
}

.slider__description--expenses {
  margin: 0;
  max-width: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .slider__description--expenses {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .slider__description--expenses {
    min-width: 174px;
  }
}

.slider__image {
  align-self: center;
}

/* Viewports */
.event-invitation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .event-invitation {
    grid-template-columns: 163px 157px;
    justify-content: space-between;
    padding: 60px 70px;
  }
}
.event-invitation--extended {
  background-color: #f2f2f2;
}

.event-invitation__description {
  margin: 0;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .event-invitation__description {
    font-size: 20px;
    line-height: 26px;
  }
}

.event-invitation__address {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .event-invitation__address {
    font-size: 16px;
    text-align: end;
  }
}

.map__wrapper {
  display: flex;
  flex-direction: column;
}

.map__image {
  width: 100%;
}

/* Viewports */
.main-footer {
  padding: 40px 0;
  margin-top: auto;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
  }
}

.main-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .main-footer__logo {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.main-footer__social {
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .main-footer__social {
    border-bottom: none;
  }
}

/* Временный комментарий */
.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}
.social__link--vkontakte {
  background-image: url("../img/icon-vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--telegram {
  background-image: url("../img/icon-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Viewports */
.copyright__text {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .copyright__link {
    justify-content: flex-end;
    gap: 23px;
  }
}

/* Viewports */
.nutrition-program__title {
  margin: 27px 0 37px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 768px) {
  .nutrition-program__title {
    margin: 65px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.nutrition-program__text {
  margin: 0 0 40px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .nutrition-program__text {
    margin: 0 0 66px 0;
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

/* Viewports */
.nutrition-program-form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .nutrition-program-form__container {
    gap: 72px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__container {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.nutrition-program-form__labels-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media (min-width: 768px) {
  .nutrition-program-form__labels-wrapper {
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__labels-wrapper {
    justify-content: space-between;
  }
}

.nutrition-program-form__label {
  display: flex;
  gap: 13px;
  align-items: center;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .nutrition-program-form__label {
    font-size: 20px;
    line-height: normal;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__label {
    min-width: 570px;
  }
}

.nutrition-program-form__field {
  padding: 14px 15px 13px 15px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .nutrition-program-form__field {
    padding: 10px 20px;
  }
}

.nutrition-program-form__field-email {
  padding: 14px 40px 13px 15px;
  flex-grow: 1;
  background-image: url("../img/icon-field-mail.svg");
  background-repeat: no-repeat;
  background-position: 185px 14px;
}
@media (min-width: 768px) {
  .nutrition-program-form__field-email {
    padding: 10px 40px 10px 20px;
    background-position: 599px 14px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__field-email {
    padding: 10px 40px 10px 20px;
    background-position: 458px 14px;
  }
}

.nutrition-program-form__field-phone {
  padding: 14px 40px 13px 15px;
  flex-grow: 1;
  background-image: url("../img/icon-field-phone.svg");
  background-repeat: no-repeat;
  background-position: 167px 14px;
}
@media (min-width: 768px) {
  .nutrition-program-form__field-phone {
    padding: 10px 40px 10px 20px;
    background-position: 577px 14px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__field-phone {
    padding: 10px 40px 10px 20px;
    background-position: 438px 14px;
  }
}

.nutrition-program-form__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 22px 0 19px 0;
}
@media (min-width: 768px) {
  .nutrition-program-form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 0;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px 0;
  }
}

.nutrition-program-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.nutrition-program-form__group-title-wrapper,
.catalog__additional-goods-group-title {
  position: relative;
  display: flex;
  gap: 20px;
}
.nutrition-program-form__group-title-wrapper::before,
.catalog__additional-goods-group-title::before {
  content: "";
  width: calc(50% - 160px);
  height: 15px;
  border-bottom: 2px solid #68b738;
}
@media (min-width: 768px) {
  .nutrition-program-form__group-title-wrapper::before,
.catalog__additional-goods-group-title::before {
    width: calc(50% - 354px);
    height: 22px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__group-title-wrapper::before,
.catalog__additional-goods-group-title::before {
    width: calc(50% - 650px);
    height: 22px;
  }
}
.nutrition-program-form__group-title-wrapper::after,
.catalog__additional-goods-group-title::after {
  content: "";
  width: 10px;
  height: 15px;
  border-bottom: 2px solid #68b738;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .nutrition-program-form__group-title-wrapper::after,
.catalog__additional-goods-group-title::after {
    height: 22px;
  }
}
@media (min-width: 768px) {
  .nutrition-program-form__group-title-wrapper,
.catalog__additional-goods-group-title {
    gap: 40px;
  }
}

.nutrition-program-form__group-title {
  max-width: 187px;
  margin: 0 0 35px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 768px) {
  .nutrition-program-form__group-title {
    max-width: none;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 76px 0;
  }
}

.nutrition-program-form__comment-field-container {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .nutrition-program-form__comment-field-container {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__comment-field-container {
    margin-bottom: 70px;
  }
}

.nutrition-program-form__text-required-fields {
  display: block;
  margin: 20px 0;
  text-align: center;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .nutrition-program-form__text-required-fields {
    font-size: 16px;
  }
}

.nutrition-program-form__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .nutrition-program-form__contacts-wrapper {
    gap: 20px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .nutrition-program-form__contacts-wrapper {
    flex-direction: row;
    margin-bottom: 70px;
  }
}

/* Viewports */
.field {
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field {
    font-size: 20px;
    line-height: normal;
  }
}
.field:hover {
  border: 1px solid #cdcdcd;
}
.field:focus-within {
  border-color: #444444;
}
.field:disabled {
  border-color: #ff8282;
}

/* Viewports */
.radio-list {
  display: flex;
  padding: 22px 0 19px 0;
}
@media (min-width: 768px) {
  .radio-list {
    padding: 22px 27px 27px 27px;
  }
}
@media (min-width: 1440px) {
  .radio-list {
    flex-direction: column;
  }
}

.radio-list__control {
  position: relative;
  display: flex;
  cursor: pointer;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .radio-list__control {
    font-size: 20px;
    line-height: normal;
  }
}

.radio-list__field + .control__oultine::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .radio-list__field + .control__oultine::before {
    width: 40px;
    height: 40px;
  }
}

.radio-list__field:checked + .control__oultine::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 9px;
  left: 9px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .radio-list__field:checked + .control__oultine::after {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}

/* Viewports */
.control {
  padding: 6px 0 6px 45px;
}
@media (min-width: 768px) {
  .control {
    padding: 6px 0 6px 60px;
  }
}

/* Viewports */
.comment-field {
  width: 100%;
  padding: 12px;
}
@media (min-width: 768px) {
  .comment-field {
    font-size: 20px;
    line-height: 30px;
  }
}

.comment-field::placeholder {
  color: #444444;
  opacity: 1;
}

/* Viewports */
.checkbox-list {
  border: none;
}

.checkbox-list__control {
  position: relative;
  display: flex;
  cursor: pointer;
  color: 444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .checkbox-list__control {
    font-size: 20px;
    line-height: normal;
  }
}

.checkbox-list__field + .control__oultine::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .checkbox-list__field + .control__oultine::before {
    width: 40px;
    height: 40px;
  }
}

.checkbox-list__field:checked + .control__oultine::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  top: 8px;
  left: 6px;
  background-image: url("../img/icon-checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .checkbox-list__field:checked + .control__oultine::after {
    top: 14px;
    left: 12px;
  }
}

/* Viewports */
.catalog__wrapper {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    margin-bottom: 76px;
  }
}

.catalog__title {
  margin: 27px 0 41px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.catalog__title--additional {
  font-size: 24px;
  line-height: 24px;
  padding: 0 0 36px 0;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__title--additional {
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .catalog__list {
    gap: 60px;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    gap: 80px;
  }
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 28px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    min-width: 324px;
    background-color: #f1f2f2;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    min-width: 245px;
    border: none;
  }
}

.catalog__item:not(:last-child) {
  padding: 20px 0 25px 0;
}
@media (min-width: 768px) {
  .catalog__item:not(:last-child) {
    padding: 10px 37px 40px 37px;
  }
}

.catalog__additional-goods-group {
  border: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog__additional-goods-group {
    margin-bottom: 75px;
  }
}
@media (min-width: 1440px) {
  .catalog__additional-goods-group {
    margin-bottom: 87px;
  }
}

.catalog__additional-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .catalog__additional-wrapper {
    display: grid;
    grid-template-columns: 896px 1fr;
    gap: 80px;
  }
}

.catalog__additional-goods-list {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog__additional-goods-list {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .catalog__additional-goods-list {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 0;
  }
}

.catalog__additional-goods-item {
  align-items: center;
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 19px 0;
}
@media (min-width: 768px) {
  .catalog__additional-goods-item {
    padding: 26px 38px 28px 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .catalog__additional-goods-item {
    padding: 15px 0 17px 0;
    display: flex;
    gap: 50px;
  }
}

.catalog__additional-goods-clarifications {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0 0 15px 0;
}
@media (min-width: 768px) {
  .catalog__additional-goods-clarifications {
    justify-content: initial;
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .catalog__additional-goods-clarifications {
    min-width: 285px;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
  }
}

.catalog__additional-goods-link {
  display: block;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .catalog__additional-goods-link {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog__additional-goods-link {
    margin: 0;
  }
}

.catalog__additional-goods-quantity,
.catalog__additional-goods-price {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
@media (min-width: 768px) {
  .catalog__additional-goods-quantity,
.catalog__additional-goods-price {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  grid-column: 1/-1;
}
@media (min-width: 1440px) {
  .catalog__button {
    max-width: 244px;
  }
}

.catalog__gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 59px 61px 43px 58px;
}
@media (min-width: 768px) {
  .catalog__gift {
    padding: 57px 125px 60px 77px;
  }
}
@media (min-width: 1440px) {
  .catalog__gift {
    padding: 56px 42px 43px 42px;
  }
}

.catalog__show-more {
  position: relative;
}
@media (min-width: 768px) {
  .catalog__show-more {
    padding: 50px 20px 40px 20px;
    justify-content: end;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .catalog__show-more {
    padding: 50px 36px 40px 36px;
  }
}
.catalog__show-more::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .catalog__show-more::before {
    top: 50px;
    left: 132px;
  }
}
@media (min-width: 1440px) {
  .catalog__show-more::before {
    left: 93px;
  }
}

/* Viewports */
.card__image-wrapper {
  max-width: 140px;
}
@media (min-width: 768px) {
  .card__image-wrapper {
    max-width: none;
  }
}

.card__link-image {
  display: block;
  text-align: center;
}

.card__link {
  display: block;
  max-width: 76px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__link {
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    align-self: center;
    text-align: center;
  }
}

.card__description-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  margin-top: auto;
}
@media (min-width: 768px) {
  .card__description-wrapper {
    max-width: none;
  }
}

.card__features {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .card__features {
    gap: 10px;
  }
}

.card__feature-wrapper {
  display: flex;
  justify-content: space-between;
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card__feature-wrapper {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 4px;
  }
}
@media (min-width: 1440px) {
  .card__feature-wrapper {
    padding-bottom: 5px;
  }
}

.card__button {
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
}

/* Viewports */
.card-show-all {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 207px;
}

.card-show-all__text {
  margin: 0 0 8px 0;
  color: #111111;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-show-all__text {
    max-width: 134px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 23px 0;
  }
}
@media (min-width: 1440px) {
  .card-show-all__text {
    margin: 0 0 26px 0;
  }
}

.card-show-all__additional-text {
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .card-show-all__additional-text {
    max-width: 168px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 82px;
  }
}

.card-show-all__button {
  margin-bottom: 25px;
  background-color: #f2f2f2;
  color: #444444;
}
@media (min-width: 768px) {
  .card-show-all__button {
    width: auto;
    min-width: 250px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .card-show-all__button {
    min-width: 169px;
  }
}

/* Viewports */
.gift {
  position: relative;
  width: 280px;
  min-height: 290px;
  background-image: url("../img/cover-for-cat.jpg");
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 768px) {
  .gift {
    width: 100%;
    min-height: 200px;
    background-image: url("../img/cover-for-cat-tablet.jpg");
  }
}
@media (min-width: 1440px) {
  .gift {
    background-image: url("../img/cover-for-cat-desktop.jpg");
  }
}
.gift::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}
@media (min-width: 1440px) {
  .gift::before {
    width: 245px;
    height: 290px;
  }
}
.gift::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  top: 59px;
  left: 101px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1440px) {
  .gift::after {
    top: 56px;
    left: 83px;
  }
}

.gift__description {
  max-width: 161px;
  margin: 0;
  margin-top: auto;
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .gift__description {
    margin-top: 0;
    margin-left: auto;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .gift__description {
    min-width: 161px;
    margin-top: auto;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */